//
//  .gitignore.swift
//  Daily Design
//
//  Created by Rishabh Kumar on 29/01/26.
//

# macOS
.DS_Store

# Xcode
build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/
xcuserdata/
DerivedData/

# Secrets (IMPORTANT)
DailyDesign/Secrets.swift
